
preparacao/implementations/consensus/target
preparacao/implementations/multipaxos_vs_raft/target
ocaml/blockchain/*.cmi
ocaml/blockchain/*.cmo
ocaml/blockchain/*.exe
ocaml/blockchain/tmp/tmp.mli
preparation/prototypes/simblock_test/simblock-master/test_output.txt
